@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --first-color: rgba(255, 155, 0, 0.707);
  --second-color: rgba(0, 255, 255, 0.5);
  --third-color: rgba(0, 0, 255, 0.5);
}

@utility grided {
  --s: 150px; /* control */
  --c1: var(--color-gray-800);

  --_g: #0000 90deg, var(--c1) 0;
  background:
    conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size:
    var(--s) var(--s),
    calc(var(--s) / 5) calc(var(--s) / 5);
}

@layer utilities {
  .content-grid {
    @apply grid grid-cols-[20px_auto_20px] lg:grid-cols-[1fr_min(calc(100vw-60px),1200px)_1fr] w-screen;
  }

  .content-main {
    @apply col-start-2 col-span-1;
  }

  .content-full {
    @apply col-start-1 col-end-4;
  }

  .header-gradient {
    background-size: cover;
    background: linear-gradient(
      to right,
      var(--color-gray-900),
      var(--color-gray-800)
    );
  }

  .gridded {
    &::before {
      content: "";
      @apply absolute inset-0 grided; /* size-full nd top/left- */
      opacity: 0.8;
    }
  }

  .glitch {
    --first-color: rgba(255, 0, 0, 0.75);
    --second-color: rgba(0, 255, 0, 0.75);
    --third-color: rgba(0, 0, 255, 0.75);
  }

  .glitch-a {
    animation:
      flicker 1600ms infinite,
      glitch 1600ms infinite,
      change-paths 3200ms infinite,
      shift 1600ms infinite;
  }

  .glitch-b {
    animation:
      flicker 2000ms infinite,
      glitch 1000ms infinite,
      change-paths 2000ms infinite,
      shift 4000ms infinite;
  }

  .glitch-single {
    animation:
      flicker 500ms,
      glitch 500ms,
      change-paths 500ms,
      shift 500ms;
  }

  @keyframes flicker {
    0%,
    25%,
    50%,
    60%,
    100% {
      opacity: 0.8;
    }
    20%,
    23%,
    63%,
    80% {
      opacity: 0.1;
    }
  }

  @keyframes change-paths {
    0%,
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    }
  }

  @keyframes shift {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0.05em, -0.03em);
    }
    50% {
      transform: translate(-0.05em, 0.04em);
    }
    75% {
      transform: translate(0.03em, -0.02em);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

  @keyframes glitch {
    0% {
      text-shadow:
        0.05em 0 0 var(--first-color),
        -0.05em -0.025em 0 var(--second-color),
        -0.025em 0.05em 0 var(--third-color);
    }
    15% {
      text-shadow:
        -0.05em -0.025em 0 var(--first-color),
        0.025em 0.025em 0 var(--second-color),
        -0.05em -0.05em 0 var(--third-color);
    }
    49% {
      text-shadow:
        -0.05em -0.025em 0 var(--first-color),
        0.025em 0.025em 0 var(--second-color),
        -0.05em -0.05em 0 var(--third-color);
    }
    50% {
      text-shadow:
        0.025em 0.05em 0 var(--first-color),
        0.05em 0 0 var(--second-color),
        0 -0.05em 0 var(--third-color);
    }
    99% {
      text-shadow:
        0.025em 0.05em 0 var(--first-color),
        0.05em 0 0 var(--second-color),
        0 -0.05em 0 var(--third-color);
    }
    100% {
      text-shadow:
        -0.025em 0 0 var(--first-color),
        -0.025em -0.025em 0 var(--second-color),
        -0.025em -0.05em 0 var(--third-color);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-gray-secondary: #333333;
  --color-gray-main: #1d1d1d;
  --color-teal: #00a598;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--color-taupe-800);
  color: var(--foreground);
}
