@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .content-grid {
    @apply grid grid-cols-[1fr_1200px_1fr];
  }

  .content-main {
    @apply col-start-2;
  }

  .content-full {
    @apply col-start-1 col-end-4;
  }

  .glitch {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation:
      glitch 500ms infinite,
      shift 500ms infinite;
  }

  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }

  .glitch span:first-child {
    animation: glitch 800ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.01em, -0.01em);
    /* color: green; */
    opacity: 0.8;
  }

  .glitch span:last-child {
    animation: glitch 400ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.01em, 0.01em);
    /* color: red; */
    opacity: 0.8;
  }
  .glitch {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation:
      glitch 500ms infinite,
      shift 500ms infinite;
  }

  .glitch-a {
    animation:
      flicker 1600ms infinite,
      glitch 1600ms infinite,
      change-paths 3200ms infinite,
      shift 1600ms infinite;
  }

  .glitch-b {
    animation:
      flicker 2000ms infinite,
      glitch 1000ms infinite,
      change-paths 2000ms infinite,
      shift 4000ms infinite;
  }

  .glitch-single {
    animation:
      flicker 500ms,
      glitch 500ms,
      change-paths 500ms,
      shift 500ms;
  }

  @keyframes flicker {
    0%,
    25%,
    50%,
    60%,
    100% {
      opacity: 0.8;
    }
    20%,
    23%,
    63%,
    80% {
      opacity: 0.1;
    }
  }

  @keyframes change-paths {
    0%,
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    }
  }

  @keyframes shift {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0.05em, -0.03em);
    }
    50% {
      transform: translate(-0.05em, 0.04em);
    }
    75% {
      transform: translate(0.03em, -0.02em);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

  @keyframes glitch {
    0% {
      text-shadow:
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow:
        -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow:
        -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow:
        -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-gray-secondary: #333333;
  --color-gray-main: #1d1d1d;
  --color-teal: #00a598;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-taupe-800);
  color: var(--foreground);
}
